<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                #header{
                    display: block !important;
                }

                #header>:nth-child(1)
                {
                    top: 5%;
                    left: 1%;
                }
                #userICon{
                    position: absolute;
                    margin-top: 0.60%;
                    padding-left: 0.5%;
                }

                #dropdownList{
                    right: 0 !important;
                    width: 10%;
                    left: auto !important;
                }

                #dropdownButtonApplication{
                    width: 7%;
                }

                .active,.dropdown-item:hover{
                    background: lightgrey !important;
                    color: black !important;
                }

                #indexLink>a{
                    text-decoration: none;
                    color: white !important;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        
    </head>
    <body>
        
        {% block body %}
            <div class="navbar navbar-dark bg-dark shadow-sm text-end" id="header">
                <div class="position-absolute text-start">
                    <h1 class="text-light" id="indexLink"><a href="{{path('getIndexApplication')}}">Index</a></h1>
                </div>
                <div class="dropdown me-3">
                    <i class="fa-solid fa-user" id="userICon"></i>
                    <button class="btn btn-secondary dropdown-toggle ps-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownButtonApplication">
                        Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-secondary bg-secondary" id="dropdownList">
                        <li><a class="dropdown-item active" href="{{path('updateUserInfo')}}">Update</a></li>
                        <li><a class="dropdown-item text-light" data-href="{{path('deleteUser')}}" href="{{path('deleteUser')}}" id="deletePath">Delete</a></li>
                        <li><a class="dropdown-item text-light" href="{{path('usuario_logout')}}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        {% endblock %}
        
        {% block javascripts %}
            <script src="{{asset('js/jquery.js')}}"></script>
            <script src="{{asset('js/delete.js')}}"></script>
        {% endblock %}
    </body>
</html>
